<app-centered-card title="Add new photo">
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text" name="title"
        required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Create photo
    </button>
  </form>
</app-centered-card>

