<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>{{ userOne.displayName }}'s gallery</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else galleriesArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #galleriesArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let gallery of galleries | async"
    >
      <mat-card style="max-width: 400px">
        <img mat-card-image [src]="gallery.image  | image" [alt]="'Photo of ' + gallery.title">
        <mat-card-header>
          <mat-card-title>{{ gallery.title }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</ng-template>

