<div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 15px">
  <button
    *userCheck="routId"
    [routerLink]="['/new-photo']"
          mat-raised-button color="primary"
  >Add new photo</button>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else galleriesArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #galleriesArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let gallery of galleries | async"
    >
      <mat-card style="max-width: 400px">
        <img mat-card-image
             [src]="gallery.image  | image"
             [alt]="'Photo of ' + gallery.title"
             (click)="openDialog('http://localhost:8000/uploads/' + gallery.image)"
        />
        <mat-card-header>
          <mat-card-title>{{ gallery.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a (click)="openDialog('http://localhost:8000/uploads/' + gallery.image)">{{ gallery.title }}</a>
          <button
            *userCheck="gallery.user._id"
            mat-raised-button color="warn"
            (click)="delete(gallery._id, gallery.user._id)"
          >Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

